@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  box-sizing: content-box;
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  background-image: url(https://cb.scene7.com/is/image/Crate/cb_dSC_20230713_Decor_Hero?wid=1160&qlt=80&op_sharpen=1);
  background-size: cover;
  background-repeat: no-repeat;
}
input {
  border: none;
  background-color: rgb(229, 226, 226);
  height: 2em;
  width: 95%;
  border-radius: 0.25rem;
}

input:focus {
  outline-color: #94add7;
}
.signup {
  margin: 0% 0%;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1% 2%;
  border-radius: 1em;
}
.title {
  width: 87%;
  background-color: #4d4d4d;
  padding: 3%;
  margin: 0 0;
  color: #222;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.01em;
  color: white;
  border-radius: 0.25em;
}

.desc {
  background: transparent;
  margin: 0 0 20px;
  padding: 0 0 12px;
  font-family: var(--webfont-primary, sans-serif);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #222;
}
label {
  background: transparent;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 94%;
  font-weight: bold;
  text-align: left;
  padding: 0% 5%;
  font-size: 1vw;
}
form {
  background: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.alt_signup {
  display: flex;
  padding-top: 0%;
  padding-bottom: 5%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.createbutton {
  padding: 1%;
  width: 30%;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.25em;
  cursor: pointer;
  font-size: 10px;
}
span {
  font-size: 10px;
}
span a {
  text-decoration: none;
  color: #4d4d4d;
}
span a:hover {
  color: blue;
}
#apple {
  width: 20px;
  height: 20px;
}
#google {
  width: 20px;
  height: 20px;
  background: transparent;
}
button {
  text-align: center;
}

.label {
  background: transparent;
  color: #222;
  font-weight: 600;
  display: block;
  margin: 0 0 8px;
  font-size: 14px;
  line-height: 20px;
  font-family: var(--webfont-primary, sans-serif);
}
.required {
  background: transparent;
  margin: 4px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: rgb(111, 110, 110);
}

.button-primary {
  color: white;
  width: 87%;
  align-self: center;
  height: 2.5rem;
  transition: 0.5s;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: #4d4d4d;
}
.button-primary:hover {
  transform: scale(1.05);
}
@media screen and (min-width: 360px) and (max-width: 800px) {
  .signup {
    width: 80%;
    height: 85%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  input {
    height: 2em;
  }
  .createbutton {
    height: 3.5em;
    margin: 0px;
  }
  span {
    font-size: 8px;
  }
  .desc {
    font-size: 10px;
    margin: 0px;
    padding: 0px;
  }
  h1 {
    margin: 0%;
  }
}
@media screen and (min-width: 800px) and (max-width: 1280px) {
  .signup {
    width: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
}
