@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  box-sizing: content-box;
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  background-image: url(https://cb.scene7.com/is/image/Crate/cb_dAccountLogIn_20220131_4320x1920?wid=1440);
  background-size: cover;
  background-repeat: repeat;
}
.container {
  min-width: 660px;
  max-width: 735px;
  margin: 10% auto;
  padding: 10px 52px 22px;
  position: relative;
  z-index: 5;
  background: #fff;
  min-height: 550px;
  max-height: 600px;
}
#signinpg {
  background: transparent;
  max-width: 275px;
  float: left;
  position: relative;
  margin: 2% 5%;
}
#info {
  background: transparent;
  max-width: 500px;
  margin: -1% 30%;
  position: absolute;
  padding: 0% 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#or {
  margin: 10% 45%;
}
h1,
h2 {
  text-align: left;
  background: transparent;
  font-size: 18px;
  font-family: var(--webfont-primary, sans-serif);
  line-height: 22px;
  text-transform: capitalize;
  color: #222;
  margin: 10% 0% 0% 0%;
}
#resetpassword {
  margin-top: 15%;
  background: transparent;
  text-align: right;
  font-size: 12px;
  font-family: var(--webfont-primary, sans-serif);
  font-weight: 400;
  color: #222;
  text-decoration: underline;
}
label {
  background: transparent;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 94%;
  font-weight: bold;
  text-align: left;
  padding: 0% 5%;
  font-size: 1vw;
}
form {
  margin: 15% 0%;
  background: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.label {
  background: transparent;
  color: #222;
  font-weight: 600;
  display: block;
  margin: 0 0 8px;
  font-size: 14px;
  line-height: 20px;
  font-family: var(--webfont-primary, sans-serif);
}
#icon1 {
  width: 30%;
  height: 50%;
  object-fit: contain;
}
#icon2 {
  width: 15%;
  height: 80%;
  object-fit: contain;
}
#icon3 {
  width: 15%;
  height: 120%;
  object-fit: contain;
}
#icon4 {
  width: 20%;
  height: 90%;
  object-fit: contain;
  padding: 0% 2%;
}
#icon5 {
  width: 15%;
  height: 70%;
  object-fit: contain;
}
#icon6 {
  width: 15%;
  height: 100%;
  object-fit: contain;
}
#icon7 {
  width: 15%;
  height: 100%;
  object-fit: contain;
}
#desc {
  box-sizing: border-box;
  font-family: var(--webfont-primary, sans-serif);
  font-style: normal;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  background: #fff;
  color: #222;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 16px;
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
}
.createbutton {
  box-sizing: border-box;
  border: 2px solid #666;
  border-radius: 0;
  margin: 0;
  font-family: var(--webfont-primary, sans-serif);
  font-style: normal;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  outline: 0;
  white-space: nowrap;
  background: #fff;
  color: #222;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 16px;
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
span {
  font-size: 10px;
}
span a {
  text-decoration: none;
  color: #4d4d4d;
  text-decoration: underline;
}
span a:hover {
  color: blue;
}
