@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* > * {
  font-family: "Poppins", cursive;
  margin: 0;
}

body {
  background-image: url(https://img.freepik.com/free-vector/interior-icons-line-set_98292-1123.jpg?w=740&t=st=1690565818~exp=1690566418~hmac=692b26573e9b9eb3be311b7c6ecad07a2056b4287ee16e800ff782f4288c03a1);
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.register {
  max-width: 978px;
  width: 100vw;
  display: flex;
  /* border: 1px solid #e9ecef; */
  border-radius: 5px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.register span {
  color: #749bc2;
}

#form {
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}
.input_field {
  margin: 3%;
  height: 45px;
  width: 100%;
}
.input_field input {
  height: 100%;
  width: 87%;
  padding: 0 15px;
  border: 1px solid rgba(10, 10, 10, 0.479);
  border-radius: 5px;
  font-size: 17px;
  font-weight: 300;
}
.input_field input:focus {
  transition: 0.7s;
  outline: none !important;
  border: 1px solid rgb(150, 148, 148);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
/* input,
.btn {
  border: 1px solid #e9ecef;
  padding: 0.9em 1em;
} */

input:focus {
  outline: none;
}

.btn {
  background-color: #003049;
  color: #e9ecef;
  height: 100%;
  width: 100%;
  border: none;
  padding: 9px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.7s;
}
.input_field button:hover {
  background-color: #749bc2;
}

.flex {
  display: flex;
  gap: 1em;
}

.flex-col {
  flex-direction: column;
}

.register .col-1 {
  margin: auto;
  padding: 3em 0;
}

.register .col-2 img {
  width: 480px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

@media screen and (min-width: 860px) {
  .register .col-2 img {
    display: initial;
  }
}
